<%- contentFor('scriptHold') %>
 <script src="/static/client.js"></script>
<%- contentFor('hero') %>
<section class="hero">
    <div class="hero-content">
      <h2>User Manual</h2>
      <a href ="/" class="btn btn-lg btn-primary">BreathBox</a>
     </div>
    </section>
   
        <%- contentFor('body') %>
         <div class="jumbotron text-center">
           <ul>
           <li>To connect to your BreathBox unit, connect to the BreathBox wireless.  The password is breathboxtest.</li>
           <li>To play the BreathBox trivia game, navigate to the BreathBox Game link.</li>
	   <li>To request a trivia question, hit the Request Trivia button - only one user may do this at a time.</li>
	   <li>Before being allowed to submit trivia, you must blow on the BreathBox breath sensor. Please hold the button on the box when you blow or the reading won't be accepted.</li>
	   <li>A green highlight of your answer means you answered the question correctly - a red means your answer was wrong, while the correct will be highlighted in blue.</li>
	   <li>Periodically, you will be asked to refresh the game screen as users connect, disconnect, and answer questions.</li>
	   </ul>
         </div>
     